.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  height: 400px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.5);
}

.card img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-height: 530px;
}
.card .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card .info .title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: black;
}
.card .info .year {
  font-size: 25px;
  font-weight: bold;
}
a,a:hover{
  text-decoration: none;
}
